@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-primary: #2563eb;
  --color-white: #ffffff;
  --font-roboto: "Roboto", sans-serif;
}
